# Kaggle API credentials (from https://www.kaggle.com/settings > API > Create New Token)
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key


# S3 config
S3_BUCKET_NAME=assancase-documents-adminpenta
S3_PREFIX=supreme-court-pakistan/

# ── AWS ─────────────────────────────────────────────────────
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

